<section class=" accent-padding tac clickable" id="review-snippet">
 
            ★
            ★
            ★
            ★
            ★
          <span class="review-span">698</span>
  <a href="/pages/reviews"><p class="read-reviews nm">Read Reviews</p></a>
</section>

<style>
  #all-reviews-modal {
    height: 90%; 
    width: 90%; 
    z-index: 999; 
    background-color: white; 
  }
  #pacas-review-iframe { 
    height: calc(100% - 10px);
    width: calc(100% - 10px); 
  	border: none;
  }
  .review-stars {
    vertical-align: middle; 
  }
  .review-span {
    vertical-align: bottom;
    font-weight: bold; 
    margin-left: 5px;
    line-height: 20px; 
  }
  .read-reviews {
    text-decoration: underline; 
  }
</style>

